<section class="block__main gen__2--inner">
      <br>
      <h1 translate="GEN_Label_2" class="ng-scope">Save your <code>Keystore</code> File.</h1>

      <a tabindex="0" role="button" class="btn btn-primary" href="blob:https://www.myetherwallet.com/ef533c69-5114-40f7-807b-1c97164b7020" download="UTC--2018-08-17T11-02-54.193Z--17739b7307badc07ef310d2cbd8a17b7c65c5b0b" aria-label="Download
 Keystore File (UTC / JSON · Recommended · Encrypted)
" aria-describedby="x_KeystoreDesc" ng-click="downloaded()" rel="noopener noreferrer">
        <span translate="x_Download" class="ng-scope">Download</span>
        <span translate="x_Keystore2" class="ng-scope">Keystore File (UTC / JSON)</span>
      </a>

      <div class="warn">
        <p class="GEN_Warning_1">
          **Do not lose it!** It cannot be recovered if you lose it.
        </p>
        <p class="GEN_Warning_2">
          **Do not share it!** Your funds will be stolen if you use this file on a malicious/phishing site.
        </p>
        <p class="GEN_Warning_3">
          **Make a backup!** Secure it like the millions of dollars it may one day be worth.
        </p>
      </div>

      <p>
        <a tabindex="0" role="button" class="btn btn-danger disabled" ng-class="fileDownloaded ? '' : 'disabled' " ng-click="continueToPaper()">
            <span translate="GET_ConfButton" class="ng-scope">I understand. Continue.</span>
        </a>
      </p>

    </section>